---
import { getCollection } from "astro:content";
import About from "./about.astro";
import Session from "./session.astro";

import "../styles/styles.css";

const sessionList = await getCollection("sessions");
---

<div id="container">
  <div class="content-wrapper">
    <main>
      <h1>Lucien Immink is available for {sessionList.length + 1}+ sessions</h1>
      <p>Here are some of the current sessions I offer.</p>
      <ul>
        {
          sessionList.map((session: any) => (
            <li>
              <Session data={session.data} />
            </li>
          ))
        }
      </ul>
    </main>
    <aside>
      <About />
    </aside>
  </div>
</div>
